body,div,p {
	margin:0px;
	padding:0px;
	font-family: "Deja Vu Sans",Sans, "Bitstream Vera Sans", Arial, Helvetica;
	font-size:10pt;
}
#container-master{
	color: #000099;
	background-color: #ffffd0;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	width: 750px;
}
#container-conexion{
	color: #000099;
	background-color: #ffca89;
	border-bottom: 1px solid black;
	height: 40px;
}
#container-mensajero{
	clear: both;
}
#pantalla{
	color: #000099;
	background-color: white;
	padding: 10pt;
	padding-left: 20pt;
	border: 2px solid black;
	height: 250px;
	font-size:10pt;
	overflow: scroll;
}

#container-escritura{
	color: #000099;
	background-color: #ffca89;
	padding: 5pt;
	border: 1px solid black;
	height: 110px;
	font-size:12pt;
	clear: both;	
}
#container-contactos{
	color: #000099;
	padding: 5pt;
	width: 150px;
	float: right;
	clear: right;
	font-size:8pt;	
}
#container-log{
	font-weight: bold;
	font-size: 8pt;
	overflow: scroll;
	height: 80px;
	clear: both;
}

#enviarmje_btn {
	height: 80px;
	width: 80px;
	margin-left: 10px;
} 
#enviarmje_text {
	height: 76px;
	width: 500px;
	float: left;

	border: 2px solid #000066;
} 
#enviarmje_dest {
	width: 500px;
	border: 2px solid #000066;
}
#contactos {
	margin-top: 10pt;
	border: 1px inset black;
	height:230px;
	overflow: auto;
}
h1 {
	margin:0px;
	padding: 0px;
	font-size:10pt;
}
